@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --azul-vivo: #2114cf;
    --ciano-frio:#cbe3fb;
    --azul-marinho:#06078e;
    --bege-acinzentado:#b9b69f;
    --roxo-acinzentado:#9f9dce;
}

.App {
    background-color: var();
    text-align: center;
    font-family: "Inter", sans-serif;
}

.titulo {
    margin: 20px;
    color: #000080;
}

.conteudo {
    display: flex;
    justify-content: flex-start;
}

.menu-lateral {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.calendario-container {
    

    flex-grow: 1;
    margin-left: 20px;
    /* Adicione margem à esquerda para separar o menu lateral */
}



.formulario-overlay,
.evento-info-overlay {
    

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.formulario-evento,
.evento-info-container {
    

    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.formulario-evento form {
    

    display: flex;
    flex-direction: column;
}

.botoes {
    

    margin-top: 10px;
}

.evento-info-container button {
    

    margin-top: 20px;
}

.link-rodape{
    color: var(--azul-marinho);
}

